header {
    
    padding: 0;
}

.container {
    background-color: aqua;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px;
    height: 50px;
    font-size: 20px;
}

body {
    margin: 0;
}

.navbar{
    background-color: lightgreen;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    list-style-type: none;
    margin: 0;
    padding: 5px;

}

.navbar a {
    text-decoration: none;
}

.sidebar {
    display: grid;
    background-color: lightgray;
    width: 200px;
    height: calc(100vh - 50px);
    float: left;
    padding: 10px;
    box-sizing: border-box;
    width: 125px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#add-deck {
    align-self: end;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: blue;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 0;
    margin: 0 0 0 60px;
}

#list-view {
    grid-column: 2;
    grid-row: 1;
    margin: 10px;
    margin-right: 80px;
    align-self: center;
    justify-self: end;
    max-width: 25px;
    max-height: 25px;
}

#grid-view {
    grid-column: 2;
    grid-row: 2;
    margin: 10px;
    margin-right: 80px;
    align-self: center;
    justify-self: end;
    max-width: 25px;
    max-height: 25px;
}

#commander-name {
    grid-column: 1;
    margin: 10px;
    margin-top: 0;
}

#deck-name {
    grid-column: 1;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
}

#list-view-text {
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    margin: 10px;
    justify-self: end;
}

#grid-view-text {
    grid-column: 2;
    align-self: center;
    grid-row: 2;
    margin: 10px;
    justify-self: end;
}

#card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
    margin-top: 20px;
}

.card-image {
    width: 100%;
    border-radius: 4.75%; /* Standard MTG card corner radius proportion */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}